<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= slideshowTitle %></title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Sri Prasanna">
	<!-- Date: 2010-10-12 -->
	<link href="http://yui.yahooapis.com/2.8.1/build/reset/reset-min.css" media="screen" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/css/application.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<script type="text/javascript" charset="utf-8">
	 var slideshowEmbedURL = "<%= pptLocation %>"
	   , slidesCount = parseInt("<%= slidesCount %>", 10)
	   , slideLocation = "http://cdn.slidesharecdn.com/"
	   , slideshowId = "<%= slideshowId %>"
	   , token = "<%= token %>"
	   , owner = <%= owner %>;
	</script>
</head>
<body>
  <div id="slideshow">
    <embed id="player" width="960" height="600"></embed>
    <% if(owner){ %>
    <div id="navigator">
      <input type="button" name="prev" value="&larr;" id="prev">
      <input type="button" name="next" value="&rarr;" id="next">
      <input type="hidden" name="currentPage" value="0" id="currentPage">
      <p>To change the slides use the buttons above or use right / left arrow keys.</p>
    </div>
    <div id="message">
      Invite people with this URL <input type="text" value="<%= shareURL %>" > <a href="javascript:;" title="Close this message">[Close]</a>
    </div>
    <% } %>
  </div>
  <a href="http://github.com/sriprasanna/slideshare-live">
    <img id="githubBadge" src="http://s3.amazonaws.com/github/ribbons/forkme_left_gray_6d6d6d.png" alt="Fork me on GitHub" />
  </a>
  <script src="/connect.js" type="text/javascript" charset="utf-8"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="/js/jquery.slideshare-live.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>